body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #111;
      color: white;
    }

    h1 {
      text-align: center;
      margin: 40px 0 20px;
      font-size: 2.5em;
    }

    .portfolio-grid {
     column-count: 5;
     column-gap: 3px;
      padding: 20px; 
     /* max-width: 1200px; */
     max-width: fit-content;
    
    margin: auto;
    }


    .portfolio-item {
  display: inline-block;
  width: 100%;
  /* margin-bottom: 15px; */
  
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}


    .portfolio-item:hover {
      transform: scale(1.03);
    }

    .portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
}


    /* Modal Styles */
    .modal {
      display: none;
      position: fixed;
      z-index: 10;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.9);
      justify-content: center;
      align-items: center;
    }

    .modal img {
      max-width: 90vw;
      max-height: 90vh;
      border-radius: 10px;
    }

    .modal:target {
      display: flex;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      color: white;
      font-size: 30px;
      text-decoration: none;
      z-index: 20;
    }


    .post {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
  }


  .card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 1920px;
    height: 1080px;
  }

    @media (max-width: 800px) {
     .portfolio-grid {
     column-count: 3;
     padding: 15px;
       column-gap: 10px;
    }
    .portfolio-item {
      height: fit-content;
      margin-bottom: 10px;
    }
    body {
        font-size: 12px;
      }
}

    @media (max-width: 500px) {
     .portfolio-grid {
       column-count: 2;
       padding: 15px;
       column-gap: 10px;
       

    }
      .portfolio-item {
        height: fit-content;
        margin-bottom: 10px;
      }
      body {
        font-size: 10px;
      }
    
}


    @media (max-width: 600px) {
      .portfolio-item {
        height: fit-content;
        margin-bottom: 10px;
      }
      body {
        font-size: 10px;
      }
    }